<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagrams</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
 
<body>
    <header class="bg-primary py-4">
        <div class="container text-center">
            <h1 class="text-white">Diagrams</h1>
        </div>
    </header>

    <div class="container">
        <div class="image-container">
            <img src="\static\diagrams\topfiveareacountry.png" alt="topfiveareacountry">
            <p class="info-text">This data represents only the percentage between the top five largest countries by area.</p>
        </div>
        <div class="image-container">
            <img src="\static\diagrams\topfivepopulationcountry.png" alt="topfivepopulationcountry">
            <p class="info-text">This data represents only the percentage between the top five largest countries by population.</p>
        </div>
    </div>
</body>
 
</html>