<!DOCTYPE html>
<html>
<head>
        <title>Country Details</title>
</head>
<body>
        <h1>Country Details</h1>
        <h2>Country Code: {{ country_code }}</h2>
        <h3>Country Details:</h3>
        <ul>
                <li>Name: {{ country_details.name }}</li>
                <li>Capital: {{ country_details.capital }}</li>
                <li>Population: {{ country_details.population }}</li>
                <li>Area: {{ country_details.area }}</li>
        </ul>
        <h3>Places in Country:</h3>
        <ul>
                {% for place in places_in_country %}
                        <li>{{ place.name }}</li>
                {% endfor %}
        </ul>
</body>
</html>
