<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page and Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/templates/scripts/script.js"></script>
</head>

<body>
    <header class="bg-primary py-4">
        <div class="container text-center">
            <h1 class="text-white">World Wide Quiz</h1>
        </div>
    </header>

    <main class="container my-5">
        <section>
            <h2 class="text-center mb-4">Let's Play a Game!</h2>
            <div class="card p-4 rounded shadow-sm">
                <form id="userForm" action="/" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" required aria-label="Username"
                            placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Save User</button>
                </form>
            </div>
        </section>

        {% if message %}
        <div class="alert alert-success mt-4" role="alert">
            {{ message }}
        </div>
        {% endif %}

        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <a href="/quiz/diagrams" class="btn btn-primary btn-block">View Diagrams</a>
            </div>
            <div class="col-md-6 text-center">
                <a href="/quiz/stats" class="btn btn-primary btn-block">View Statistics</a>
            </div>
        </div>
    </main>
</body>

</html>
