<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="bg-primary py-4">
        <div class="container text-center">
            <h1 class="text-white">World wide quiz</h1>
        </div>
    </header>
    <main class="container my-5">
        <h1>Next time you can do it better</h1>
        <img src="/static/memes/Computer-Guy.svg" alt="computer-guy" class="img-fluid">
        <a href="/quiz/capital" class="btn btn-secondary">Try Again</a>
        <a href="/quiz/highscore" class="btn btn-primary">Highscore</a>
    </main>
    </main>
</body>

</html>